.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: #fff;

    z-index: 1;

    display: flex;
    flex-direction: column;

    @include mq (tablet) {
        display: none;
    }
}

.mobile-menu_contacts {
    margin-top: auto;
}