body {
    font-family: var(--main-font),
        sans-serif;
    color: var(--main-clr-);
    margin: 0;

}

html {
    box-sizing: border-box;

}
header {
    border-bottom: 1px solid #ECECEC;

}
img {
    display: block;
    max-width: 100%;
    height: auto;  
}

.not-visible {
    visibility: hidden;
}
