.container {
  
    @include mobile-only {
        min-width: 320px;
        max-width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    @include tablet-only {
        max-width: 768px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

    @include desktop-only {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
  
}
.portfolio {
    @include mobile-only {
        min-width: 320px;
        max-width: 480px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include tablet-only {
        max-width: 768px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include desktop-only {
        max-width: 1200px;
        padding-top: 100px;
        padding-bottom: 94px;
    }
    
}