/* достоинства */

.asset {

@include mobile-only {
    padding-top: 60px;
    padding-bottom: 60px;
}

@include tablet-only {
    padding-top: 60px;
    padding-bottom: 60px;
}

@include desktop-only {
    padding-top: 94px;
    padding-bottom: 94px;
}

}  

.asset__list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    list-style: none;
    
    @include tablet-only {
        display: flex;
        flex-wrap: wrap;


    }
    @include desktop-only {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        display: flex;
        list-style: none;
        justify-content: space-between;
    }
}

.asset__item {
    // width: 270px;
    // padding-right: auto;
    // padding-left: auto;
    // margin-right: 30px;
    @include mobile-only {
        width: 450px;
        padding-right: auto;
        padding-left: auto;
        
    }

    @include tablet-only {
        flex-basis: 50%;
    
    }

    @include desktop-only {
        width: 270px;
        padding-right: auto;
        padding-left: auto;
        margin-right: 30px;
    }
}



.asset__link {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // background-color: #F5F4FA;
    // width: 270px;
    // height: 120px;
    // margin-bottom: 30px;

    @include mobile-only {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F5F4FA;
        width: 450px;
        height: 120px;
        margin-bottom: 30px;
    }
    @include tablet-only {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F5F4FA;
        width: 354px;
        height: 120px;
        margin-bottom: 30px;
    }

    @include desktop-only {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F5F4FA;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
    }
}

.asset__title {
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.03em;
    
    // text-transform: uppercase;
    // margin-top: 0px;
    // margin-bottom: 10px;

    // color: var(--main-clr-);
    @include mobile-only {
        display: flex;
        text-align: center;
        justify-content: center;
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
    
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 10px;
    
        color: var(--main-clr-);
    }

    @include tablet-only {
       
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;

        text-transform: uppercase;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 10px;

        color: var(--main-clr-);
    }

    @include desktop-only {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
    
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 10px;
    
        color: var(--main-clr-);
    }
}

.asset__text {
     
    @include mobile-only {
        font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: #757575;
            margin-top: 0px;
            margin-bottom: 30px;  
    }

    @include tablet-only {
            width: 354px;
            height: 75px;

            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: #757575;
            margin-top: 0px;
    }

    @include desktop-only {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}