/* постоянные клиенты */

.client-container {
    @include mobile-only {
        min-width: 480px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 60px;
        padding-left: auto;
        padding-bottom: 60px;
        padding-right: auto;
        text-align: center;
    }

    @include tablet-only {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 60px;
        padding-left: auto;
        padding-bottom: 60px;
        padding-right: auto;
        text-align: center;
    }


    @include desktop-only {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 94px;
        padding-left: auto;
        padding-bottom: 94px;
        padding-right: auto;
        text-align: center;
    }
    
}

.client-container__title {
    @include mobile-only {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        margin-bottom: 30px;
        
        text-align: center;
        letter-spacing: 0.03em;
        
        color: #212121;
    }

    @include tablet-only {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        margin-bottom: 30px;
            
        text-align: center;
        letter-spacing: 0.03em;
            
        color: #212121;
    }

    @include desktop-only {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;

        color: #212121;
    }
}

.clients {
    @include mobile-only {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;

       
    }

    @include tablet-only {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
    }

    @include desktop-only {
        display: flex;
    }
}
.clients__item {

    @include mobile-only {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc(100% / 2 - 30px);
        display: flex;
        align-items: center;
        justify-content: center;
        }

    @include tablet-only {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc(100% / 3 - 30px);
        display: flex;
        align-items: center;
        justify-content: center;
 }

}
.clients__link {
    @include mobile-only {
      
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 92px;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            // margin-right: 30px;
            border-color: #AFB1B8;
        
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:not(:last-child) {
                margin-right: 0px;
            }
        
        
            &:hover .clients__icon {
                fill: #2196F3;
            }
        
            &:focus .clients__icon {
                fill: #2196F3;
            }
        
            &:hover {
                border-color: #2196F3;
            }
    }



    @include tablet-only {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 226px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        border-color: #AFB1B8;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:not(:last-child) {
            margin-right: 0px;
        }


        &:hover .clients__icon {
            fill: #2196F3;
        }

        &:focus .clients__icon {
            fill: #2196F3;
        }

        &:hover {
            border-color: #2196F3;
        }
    }


    @include desktop-only {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        margin-right: 30px;
        border-color: #AFB1B8;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:not(:last-child) {
            margin-right: 0px;
        }
    
        
        &:hover .clients__icon {
            fill: #2196F3;
        }
    
        &:focus .clients__icon {
            fill: #2196F3;
        }
    
        &:hover {
            border-color: #2196F3;
        }
    }
}


.clients__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}