.h1 {
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background: #2F303A;
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/Header-sm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    min-width: 480px;
    @media (min-divice-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(/images/Header-sm@2x.jpg);
    }
   

    @include tablet-only {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(/images/Header-tab.jpg);
        @media (min-divice-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(/images/Header-tab@2x.jpg);
            }

    }

    @include desktop-only {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(/images/Imghero.jpg);
        @media (min-divice-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url(/images/Header-desk@2x.jpg);
            }
    }

   
}


.hero__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    align-items: center;
    
    color: #FFFFFF;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;


       
    @include mobile-only {
   
    font-size: 26px;
    line-height: 42px;
    
   
    }

    @include tablet-only {
    
        font-size: 26px;
        line-height: 42px;
    
    
           
            
           
    }
    @include desktop-only {

                font-size: 44px;
                line-height: 1.36;
    }
   

}